.status {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.boardRow {
  display: flex;
  justify-content: center;
}
