.status {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 8px 0;
  color: #f1eded;
}

.boardRow {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .status {
    font-size: 20px;
  }
}